
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <span style="margin-right: 10px;"><a href="#">Administration</a></span>
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy;2019<a style="margin-left:10px;" href="http://www.facebook.com" class="fa fa-facebook"></a></strong>
</footer>
